[MAIN]
ignore-paths=src/__pycache__, src/bin, src/include, src/lib

[MESSAGES CONTROL]
disable=
    import-error,
    missing-docstring,
    too-few-public-methods,

[BASIC]
good-names=
    i,
    e,
    logger,
